@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* navbar */
.navbar-brand{
  padding-left: 20px;
}

.navbar-nav{
  padding-right: 20px;

}

.navbar-nav .nav-item{
  font-size: large;

} 
 
.navbar-nav a:hover {
  background-color:black;
  text-decoration: none;
}



.dropdown-menu a:hover{
  color: white;
}





/* hero container */
.containerhero{
    background-color: black;
    text-align: center;
    color:#fff;
    margin:auto;
    padding: 2rem 2rem;
    
}

.typewrite{
  text-decoration: none;
}

/* waving hand */

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.text-heading{
  font: 600 35px / 75px "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-family: 'Rye', cursive;
  margin: 0 auto;
  width: 200px;
  padding: 10px;
  color: black;
}
.text-content{
  font: 26px / 30px "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 2rem 2rem;
  font-family: 'Caveat', cursive;
  margin-left: 30px;
  margin-right: 30px;
}



